html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 110px;
    background-color:rgb(133, 241, 241);
    box-shadow: 0px 7px 10px 0 lightgray;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a:not(.psw a) {
    text-decoration: none; 
    color: black;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

a:hover:not(.logo-container a) {
    background-size: 100% 2px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container img {
    width: 240px;
    height: 110px;
    margin-top: 11px
}

header ul:not(.log-bar){
    width: 60%;
    display: flex;
    justify-content: flex-start;
    margin-top: 45px;
}

header ul li {
    list-style: none;
    font-size: 22px;
    text-align: center;
    margin-left: 25px;
}

.log-bar {
    position: absolute;
    right: 50px;
    top: 25px;
}

#logOut {
    display: none;
}

#info {
    position: relative;
    top: 110px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 22px;
}

main {
    width: 85%;
    margin: 0 auto;
}

footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    background-color: rgb(133, 241, 241);
}


/* login */


.login-container {
    width: 40%;
    margin: 0px auto;
    margin-top: 135px;
    border: 3px solid #f1f1f1;
    transition: ease all 0.3s;
}

.login-container:hover {
    box-shadow: 1px 8px 10px 0 lightgray;
}

label {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
  
.container #username, .container #password {
    width: 70%;
    padding: 12px 20px;
    margin: 8px auto;
    display: flex;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 20px;
}

.container #login {
    width: 70%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 24px;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    transition: all 0.4s;
}

.container #login:hover {
    background-color: rgb(30, 165, 255);
    transform: scale(1.05);
    transition: all 0.2s;
}

.container #registration {
    width: 68%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 24px;
    background-color: #cccccc;
    padding: 14px 20px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: all 0.4s;
}

.container #registration:hover {
    transform: scale(1.05);
    background-color: rgb(223, 223, 223);
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

.remember {
    display: flex;
    justify-content: flex-end;
}

input[type=checkbox] {
    margin-top: 7px;
    margin-right: 7px;
    transform: scale(1.4);
}


/* registration */


.registration-container {
    width: 45%;
    margin: 0px auto;
    margin-top: 135px;
    padding: 20px;
    border: 3px solid #f1f1f1;
    transition: ease all .3s;
}

.registration-container:hover {
    box-shadow: 0 0 60px 6px lightgray;
}

.registration-heading {
    height: 100px;
    margin-bottom: 15px;
    border-radius: 10px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background: rgb(176, 142, 255);
    background: radial-gradient(circle, rgb(61, 158, 255) 55%, rgb(255, 254, 171) 100%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease all .3s;
}

.registration-container:hover > .registration-heading {
    box-shadow: 0 0 20px 5px rgb(184, 184, 184);
}

.registration-heading h2 {
    color: rgb(179, 255, 0);
    text-shadow:
        -1px -1px 1px white,  
        1px -1px 1px white,
        -1px 1px 1px black,
        1px 1px 1px black;
    position: relative;
    font-family: "Avenir Next", sans-serif;
    font-weight: 900;
    font-size: 44px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.05em;
    display: flex;
    justify-content: center;
}

.registration-heading h2:before {
    position: absolute;
    left: 0;
    top: 0;
    content: attr(filter-content);
    filter: url(#motion-blur-filter);
}

.registration-heading svg {
    display: none;
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.input-container .input-field {
    width: 85.1%;
    margin: 0px auto;
    padding: 15px;
    margin-left: 22px;
    outline: none;
}

.input-container .input-field {
    font-size: 20px;
}

.input-field:focus {
    border: 2px solid rgb(72, 163, 255);
}

#register {
    width: 98%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    transition: ease all .3s;
}

#register:hover {
    opacity: 1;
    transform: scale(1.02);
    box-shadow: 0px 0px 30px 3px rgb(95, 175, 255);
    font-size: 24px;
}

.input-container .input-img {
    width: 45px;
    height: 45px;
    margin-top: 2px;
    padding: 3px;
    box-shadow: 0px 0px 10px 3px lightgray;
}