html {
    scroll-behavior: smooth;
}
body {
    overflow: hidden;
}
header {
    width: 100%;
    height: 110px;
    background-color:rgb(114, 216, 174);
    box-shadow: 0px 7px 10px 0 rgba(0, 0, 0, 0.253);
    display: flex;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a:not(.psw a, .dropdown-content a) {
    text-decoration: none; 
    color: black;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
a:hover:not(.logo-container a) {
    background-size: 100% 2px; 
}
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-container img {
    width: 240px;
    height: 110px;
    margin-top: 11px
}
header ul:not(.log-bar){
    width: 80%;
    display: flex;
    justify-content: flex-start;
    margin-top: 45px;
}
header ul li {
    list-style: none;
    font-size: 20px;
    text-align: center;
    margin-left: 20px;
}
.dropbtn {
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 20px;
    color: black;
    font-size: 20px;
    text-align: center;
    
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.dropbtn:hover {
    background-size: 100% 2px;
}
.dropdown {
    position: relative;
    top: -1px;
    left: 42px;
    display: inline-block;
    transition: all 0.2s;
}
#user-panel {
    padding-right: 150px;
}
#model-panel {
    top: -2px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    margin-left: 25px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99999;
    transform: translateY(-80%);
    transition: all 0.2s;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}
.dropdown a:hover {
    background-color: #ddd;
}
.show {
    display: block;
    transform: translateY(0%);
}
.user-bank-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 130px;
    margin-bottom: 6.5px;
}
#user-bank {
    font-size: 24px;
}
.log-bar {
    position: absolute;
    right: 50px;
    top: 25px;
}
#logOut {
    display: none;
}
#info {
    width: 1000px;
    height: 45px;
    /* background-color: rgba(255, 255, 255, 0.63); */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 120px;
    left: 0;
    margin: 0 auto;
    opacity: 0;
    z-index: 9999;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 22px;
}
#content {
    width: 85%;
    margin: 0 auto;
    position: relative;
    z-index: 9999;
}
main {
    overflow: hidden;
    z-index: 0;
}
footer {
    width: 100%;
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    /* background-color: rgb(216, 167, 114); */
    background-color:rgb(114, 216, 174);
}


/* login */


.login-container {
    width: 40%;
    margin: 0px auto;
    margin-top: 120px;
    border: 3px solid #000000;
    background-color: rgba(198, 255, 198, 0.74);
    transition: ease all 0.3s;
}
.login-container:hover {
    box-shadow: 1px 8px 10px 0 lightgray;
}
label {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.container #username, .container #password {
    width: 70%;
    padding: 12px 20px;
    margin: 8px auto;
    display: flex;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 20px;
}
.container #login {
    width: 70%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 24px;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    transition: all 0.4s;
}
.container #login:hover {
    background-color: rgb(30, 165, 255);
    transform: scale(1.05);
    transition: all 0.2s;
}
.container #registration {
    width: 68%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 24px;
    background-color: #cccccc;
    padding: 14px 20px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: all 0.4s;
}
.container #registration:hover {
    transform: scale(1.05);
    background-color: rgb(223, 223, 223);
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}
img.avatar {
    width: 40%;
    border-radius: 50%;
}
.container {
    padding: 16px;
}
.remember {
    display: flex;
    justify-content: flex-end;
}
input[type=checkbox] {
    margin-top: 7px;
    margin-right: 7px;
    transform: scale(1.4);
}


/* registration */


.registration-container {
    width: 45%;
    margin: 0px auto;
    margin-top: 140px;
    padding: 20px 20px;
    border: 3px solid #f1f1f1;
    background: #9152f8;
    background: -webkit-linear-gradient(top, #7579ff, #b224ef);
    background: -o-linear-gradient(top, #7579ff, #b224ef);
    background: -moz-linear-gradient(top, #7579ff, #b224ef);
    background: linear-gradient(top, #7579ff, #b224ef);
    transition: ease all .3s;
}
.registration-container:hover {
    box-shadow: 0 0 60px 6px lightgray;
}
.registration-heading {
    height: 100px;
    margin-bottom: 25px;
    border-radius: 5px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background: rgb(176, 142, 255);
    background: radial-gradient(circle, rgb(255, 151, 238) 55%, rgb(221, 209, 255) 100%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease all .3s;
}
.registration-container:hover > .registration-heading {
    box-shadow: 0 0 20px 5px rgb(184, 184, 184);
}
.registration-heading h2 {
    color: rgb(0, 0, 0);
    text-shadow:
        -1px -1px 1px white,  
        1px -1px 1px white,
        -1px 1px 1px black,
        1px 1px 1px black;
    position: relative;
    font-family: "Avenir Next", sans-serif;
    font-weight: 900;
    font-size: 44px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.05em;
    line-height: 50px;
    display: flex;
    justify-content: center;
}
.registration-heading h2:before {
    position: absolute;
    left: 200px;
    top: 0;
    content: attr(filter-content);
    filter: url(#motion-blur-filter);
}
.registration-heading svg {
    display: none;
}
.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}
.input-container .input-field {
    font-size: 20px;
}
.input-container .input-field::placeholder {
    color: white;
}
.registration-container .input-container {
    margin-bottom: 0;
}
#register {
    width: 98%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    transition: ease all .3s;
}
#register:hover {
    opacity: 1;
    transform: scale(1.02);
    box-shadow: 0px 0px 30px 3px rgb(95, 175, 255);
    font-size: 24px;
}
.input-container .input-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: 2px;
    padding: 3px;
    margin: 10px 10px;
    margin-right: 30px;
    box-shadow: 0px 0px 10px 3px lightgray;
}


/* shoe form */


.shoe-add-container {
    width: 55%;
    height: 700px;
    margin: 0 auto;
    margin-top: 120px;
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    z-index: 99;
    padding: 25px 45px 25px 25px;
    background: #9152f8;
    background: -webkit-linear-gradient(top, #7579ff, #b224ef);
    background: -o-linear-gradient(top, #7579ff, #b224ef);
    background: -moz-linear-gradient(top, #7579ff, #b224ef);
    background: linear-gradient(top, #7579ff, #b224ef);
}
.shoe-info-side {
    padding: 0px;
}
.img-side {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.img-card {
    width: 680px;
    height: 500px;
    border: 5px solid rgb(180, 180, 180);
    display: flex;
    align-items: center;
}
.img-card img {
    width: 100%;
    height: 100%;
    /* max-width: 475px;
    max-height: 500px; */
    /* object-fit: cover; */
}
.shoe-info-side {
    width: 100%;
    padding-left: 20px;
}
.mid-content {
    width: 100%;
    padding: 0;
}
.container-title {
    padding-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: medium;
    font-size: 40px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    display: block;
}
.validate-input {
    position: relative;
}
.input100::placeholder {
    color: rgb(255, 255, 255);
}
.input100 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px 0 15px;
    border-bottom: 2px solid rgba(255,255,255,0.24);
    margin-bottom: 30px;
}
input {
    outline: none;
    border: none;
    transition: ease all .2s;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.login100-form-btn:hover {
    color: #fff;
}
button:hover {
    cursor: pointer;
}
.shoe-add-container .mid-content .container-login100-form-btn {
    margin-top: 60px;
    display: flex;
}
.login100-form-btn {
    width: 47%;
    height: 50px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 5px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-size: 26px;
    border-radius: 25px;
    background: rgb(45,194,253);
    background: linear-gradient(180deg, rgba(45,194,253,1) 0%, rgb(63, 131, 255) 100%);
    box-shadow: 0 0 2px 2px cyan;
    position: relative;
    z-index: 1;
    opacity: 0.9;
    transition: all 0.4s;
}
.file-form-btn {
    width: 47%;
    height: 50px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 5px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-size: 26px;
    border-radius: 25px;
    background: rgb(141, 141, 141);
    background: linear-gradient(180deg, rgb(143, 143, 143) 0%, rgb(126, 126, 126) 100%);
    box-shadow: 0 0 2px 2px rgb(73, 73, 73);
    position: relative;
    z-index: 1;
    transition: all 0.4s;
}
.login100-form-btn:hover {
    opacity: 1;
    transform: scaleX(1.03);
    box-shadow: 0 0 5px 1px cyan;
}
.file-form-btn:hover {
    opacity: 1;
    transform: scaleX(1.03);
    box-shadow: 0 0 5px 1px rgb(73, 73, 73);
}
button {
    outline: none;
    border: none;
    background: transparent;
}


/* edit model */


.shoe-edit-container {
    width: 50%;
    margin: 0 auto;
    margin-top: 105px;
    padding: 15px 55px 37px 55px;
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;
    background: #9152f8;
    background: -webkit-linear-gradient(top, #7579ff, #b224ef);
    background: -o-linear-gradient(top, #7579ff, #b224ef);
    background: -moz-linear-gradient(top, #7579ff, #b224ef);
    background: linear-gradient(top, #7579ff, #b224ef);
}
.model-edit-title {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.mid-content label {
    font-family: 'Poppins', sans-serif;
    font-weight: medium;
    font-style: italic;
    font-size: 30px;
    color: white;
}
.mid-content select {
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    margin-bottom: 1px;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: bold;
    border: 1px solid white;
    letter-spacing: 2px;
    background: rgb(75,198,255);
    background: linear-gradient(180deg, rgb(218, 163, 255) 0%, rgba(105, 208, 255, 0.699) 100%, rgb(200, 118, 255) 0%);
}
.mid-content select option {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: 17px;
    text-align: center;
    background-color: rgb(231, 190, 240);
}
.shoe-edit-container .mid-content #list-pictures {
    margin-bottom: 20px;
}


/* user edit */

.user-edit-container {
    width: 50%;
    margin: 0 auto;
    margin-top: 145px;
    padding: 15px 55px 37px 55px;
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;
    background: #9152f8;
    background: -webkit-linear-gradient(top, #7579ff, #b224ef);
    background: -o-linear-gradient(top, #7579ff, #b224ef);
    background: -moz-linear-gradient(top, #7579ff, #b224ef);
    background: linear-gradient(top, #7579ff, #b224ef);
}
.user-edit-title {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.myself-edit-title {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    margin: 65px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.myself-edit-container {
    width: 50%;
    margin: 0 auto;
    margin-top: 155px;
    padding: 15px 55px 37px 55px;
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;
    background: #9152f8;
    background: -webkit-linear-gradient(top, #7579ff, #b224ef);
    background: -o-linear-gradient(top, #7579ff, #b224ef);
    background: -moz-linear-gradient(top, #7579ff, #b224ef);
    background: linear-gradient(top, #7579ff, #b224ef);
}

/* purchase */


.purchase-container {
    width: 50%;
    /* height: 670px; */
    height: 270px;
    margin: 0 auto;
    /* margin-top: 135px; */
    margin-top: 250px;
    padding: 15px 55px 37px 55px;
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;
    background: #9152f8;
    background: -webkit-linear-gradient(top, #7579ff, #b224ef);
    background: -o-linear-gradient(top, #7579ff, #b224ef);
    background: -moz-linear-gradient(top, #7579ff, #b224ef);
    background: linear-gradient(top, #7579ff, #b224ef);
}
.purchase-title {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.purchase-container .mid-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.purchase-container .mid-content .buy-image {
    display: none;
    width: 100%;
    height: 400px;
    border: 3px solid rgb(155, 155, 155);
}
.purchase-container .mid-content .buy-image img {
    width: 100%;
    height: 100%;
}
#purchase-list-models {
    margin-bottom: 7px;
}
.purchase-container .mid-content .container-login100-form-btn {
    width: 100%;
    margin: 20px;
}
#submit-purchase {
    width: 60%
}


/* admin panel */


.role-container {
    width: 50%;
    height: 360px;
    margin: 0 auto;
    margin-top: 235px;
    padding: 15px 55px 37px 55px;
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;
    background: #9152f8;
    background: -webkit-linear-gradient(top, #7579ff, #b224ef);
    background: -o-linear-gradient(top, #7579ff, #b224ef);
    background: -moz-linear-gradient(top, #7579ff, #b224ef);
    background: linear-gradient(top, #7579ff, #b224ef);
}
.role-title {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.role-container .mid-content .container-login100-form-btn .login100-form-btn {
    font-size: 26px;
}
#list-roles {
    margin: 30px auto;
}



/* gain */


.gain-container {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 15px 55px 25px 55px;
    border: 1px solid lightgray;
    background-color: rgba(129, 129, 129, 0.205);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 190px;
    transition: ease all 0.3s;
}
#allGainBtn {
    width: 45%;
    font-family: 'Molot' sans-serif;
    font-size: 26px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 20px;
    height: 40px;
    background-color: rgb(255, 218, 170);
    padding: 25px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.13s;
}
#allGainBtn:hover {
    transform: scale(1.05);
    border-radius: 15px;
    border: none;
    background-color: rgb(123, 246, 255);
    box-shadow: 0 0 30px 1px rgba(102, 102, 102, 0.685);
}
#collapseExample {
    position: absolute;
    left: 45%;
    right: 45%;
    top: 250px;
    opacity: 0;
    transform: translateX(-100%);
    transition: ease all 2s;
    transition-timing-function: cubic-bezier(1,-0.11,.08,2);
}
#allGainTxt {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
#gainForAMonth {
    text-align: center;
    font-size: 20px;
}
.gain-container h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 40px;
    transition: ease all 1s;
    transition-timing-function: cubic-bezier(1,-0.11,.08,2);
}
.allGainContainers {
    display: flex;
    justify-content: center;
    align-items: center;
}
#gainForNovember {
    margin-bottom: 50px;
}
#gainForFebruary {
    margin-bottom: 50px;
}
.list-group-item-warning {
    background-color: rgb(255, 207, 161);
    transition: ease all 0.2s;
}
.list-group-item-info {
    background-color: rgb(167, 255, 182);
    transition: ease all 0.2s;
}
.list-group-item-primary {
    background-color: rgb(163, 206, 255);
    transition: ease all 0.2s;
}
.list-group-item-danger {
    background-color: rgb(255, 161, 161);
    transition: ease all 0.2s;
}
.list-group-item-warning:hover {
    background-color: rgb(255, 123, 0);
    color: white;
}
.list-group-item-info:hover {
    background-color: rgb(1, 158, 27);
    color: white;
}
.list-group-item-primary:hover {
    background-color: rgb(0, 119, 255);
    color: white;
}
.list-group-item-danger:hover {
    background-color: rgb(255, 0, 0);
    color: white;
}
.list-group-item {
    width: 90%;
    height: 20px;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
    opacity: 0.9;
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: ease all 0.2s;
}
.list-group-item:hover {
    transform: scale(1.02);
    opacity: 1;
    border: 1px solid rgba(0, 0, 0, 0.342);
    font-size: 20px;
    font-weight: bold;
}



/* upload */


#upload-content {
    width: 35%;
    height: 600px;
    margin: 0 auto;
    margin-top: 125px;
    border-radius: 10px;
    position: fixed;
    top: 90px;
    right: 620px;
    overflow: hidden;
    border: 1px solid rgba(128, 128, 128, 0.466);
    z-index: 99999;
    /* background: #9152f8;
    background: -webkit-linear-gradient(top, #ff73f31f, #94c4e454);
    background: -o-linear-gradient(top, #ff73f31f, #94c4e454);
    background: -moz-linear-gradient(top, #ff73f31f, #94c4e454);
    background: linear-gradient(top, #ff73f31f, #94c4e454); */
    background-color: rgba(255, 255, 255, 0.918);
}
#upload-content .top-content {
    width: 100%;
    height: 70px;
    display: flex;
    /* background: rgb(75,198,255);
    background: linear-gradient(180deg, rgba(0, 255, 64, 0.103) 83%, rgba(0, 0, 0, 0.123) 100%); */
    background-color: lightcyan;
    border-bottom: 2px solid gray;
    align-items: center;
}
#upload-content .top-content .img-container img {
    width: 70px;
    padding: 0 5px;
    filter: grayscale(100%);
    transform: scale(0.95);
    transition: ease all .3s;
}
#upload-content .top-content .img-container {
    display: flex;
}
.after-img {
    width: 100%;
    height: 85%;
    border-left: 2px solid rgba(128, 128, 128, 0.432);
    display: flex;
    justify-content: center;
    align-items: center;
}
.after-img p {
    padding: 0;
    justify-content: center;
    text-align: center;
    font-size: 23px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#upload-content .top-content .img-container img:hover {
    filter: grayscale(0);
    transform: scale(1.02);
}
#upload-content .mid-content {
    height: 610px;
    padding-bottom: 20px;
}
#upload-content .mid-content label:not(.download-img) {
    width: 60%;
    padding: 8px 0;
    margin: 0 auto;
    margin-top: 40px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-bottom: 2px solid gray;
}
#upload-content .mid-content .download-img {
    margin-top: 15px;
    font-size: 30px;
    color: black;
    font-style: normal;
    cursor:pointer;
}
.download-img {
    width: 50%;
    height: 50%;
    position: relative;
    top: 20px;
    left: 110px;
    margin-left: 20px;
    background-image: url("../Images/upload-secondary.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#inputTag {
    display: none;
}
.selected-file {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}
#imagePathName {
    display: none;
    margin-top: 7px;
    width: 55%;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid gray;
    font-style: italic;
    font-size: 18px;
}
.add-file-container {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#submit-file {
    width: 40%;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(149, 255, 255);
    opacity: 0.7;
    border: 1px solid gray;
    transition: ease all .2s;
}
#submit-file:hover {
    transform: scale(1.03);
    opacity: 1;
    background-color: rgb(137, 255, 255)
}


.graphic {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: fixed;
    z-index: 0;
}
.graphic1 {
    offset-path: path("M513.602 30.9586C276.802 -52.2414 168.102 55.4585 84.1019 139.959C15.7685 223.625 -88.5981 297.159 146.602 373.959C381.802 450.759 88.6019 700.459 378.602 688.459C488.219 694.331 705 509 804.5 621C945.602 726.959 1220.71 624.688 1369 664.5C1849.5 793.5 1213.5 339.5 1671.1 259.959C1783.9 240.351 1320.5 -101.163 1271 30.9586C1345.5 538.5 857.5 -171.5 832.5 270C607 580.542 610.174 64.8894 513.602 30.9586Z");
    animation: move 15s linear infinite;
    background-color: #fff;
    box-shadow:
        0 0 60px 15px #fff,
        0 0 40px 10px rgb(255, 0, 0),
        0 0 60px 10px rgb(255, 0, 0);
}
.graphic2 {
    width: 30px;
    height: 30px;
    offset-path: path("M1162.95 726.575C1399.75 809.775 1268.06 512.878 1563.06 609.378C1775.06 625.878 1603.4 75.5546 1478.06 288.878C1350.56 505.878 1486.45 -10.3839 1196.45 1.61609C1086.84 -4.25623 870.056 181.075 770.556 69.0748C629.454 -36.8839 768.349 423.387 620.056 383.575C139.556 254.575 486.157 129.337 28.5556 208.879C-84.2464 228.486 181.056 296.878 338.056 525.878C555.056 903.878 818.056 438.878 889.556 597.378C1115.06 286.836 1066.38 692.644 1162.95 726.575Z");
    animation: move 70s linear infinite;
    offset-anchor: auto;
    offset-anchor: right top;
    offset-anchor: left bottom;
    offset-anchor: 20% 80%;
    background-color: #fff;
    box-shadow:
        0 0 60px 15px #fff,
        0 0 40px 10px rgb(255, 136, 0),
        0 0 60px 10px rgb(200, 255, 0);
}
.graphic3 {
    width: 10px;
    height: 10px;
    offset-path: path("M1442.07 855.372C1678.87 938.572 956.571 442.872 1251.57 539.372C1463.57 555.872 1645.46 27.9816 1442.07 168.872C1285.57 277.282 1486.38 58.0195 1196.38 70.0195C1086.76 64.1472 928.572 539.372 770.483 137.478C629.381 31.5195 563.865 73.1845 415.572 33.3721C-64.9285 -95.6279 486.084 197.74 28.4824 277.282C-84.3196 296.889 180.982 365.282 337.982 594.282C554.982 972.282 770.483 831.372 889.483 665.782C1126.07 569.872 1345.5 821.441 1442.07 855.372Z");
    animation: move 20s linear infinite;
    background-color: #fff;
    box-shadow:
        0 0 60px 15px #fff,
        0 0 40px 10px rgb(0, 4, 255),
        0 0 60px 10px rgb(0, 217, 255);
}
.graphic4 {
    width: 25px;
    height: 25px;
    offset-path: path("M222.662 61.4582C38.3454 231.822 408.5 481 113.5 384.5C-98.5002 368 19.2732 888.849 222.662 747.958C379.162 639.548 41 1048.5 331 1036.5C538 472.5 946.749 1508.15 1010.5 877C1023.53 747.958 1154.21 776.188 1302.5 816C1783 945 1591.23 1424.08 1713.84 976.09C1985.5 -16.5 1483.75 551.549 1326.75 322.548C1109.75 -55.4515 1163.5 337.91 1044.5 503.5C807.911 599.41 531.5 -224 222.662 61.4582Z");
    animation: move 30s linear infinite;
    background-color: #fff;
    box-shadow:
        0 0 60px 15px #fff,
        0 0 40px 10px rgb(0, 99, 5),
        0 0 60px 10px rgb(60, 255, 0);
}
.graphic5 {
    offset-path: path("M1957.11 559.429C1662.1 492.262 1058.81 956.165 743.795 812.086C428.785 668.007 452.787 306.451 1376.84 306.45C1329.33 682.308 799.305 519.057 743.795 602.549C680.299 755.36 493.289 273.01 197.773 393.771C-202.777 557.455 57.2652 64.8952 537.791 154.683C686.092 182.394 978.575 117.055 1166.32 445.626C1339.33 748.4 452.287 298.762 557.792 17.565C-288.253 -74.6593 1328.83 251.717 1485.34 176.26C1688.74 78.196 2169.12 570.914 1957.11 559.429Z");
    animation: move 20s linear infinite;
    background-color: #fff;
    box-shadow:
        0 0 60px 15px #fff,
        0 0 40px 10px #f0f,
        0 0 60px 10px #0ff;
}
.graphic5 {
    offset-path: path("M1528 525.5C1416.8 1026.7 1305.67 1143 1264 1138.5M1264 1138.5C1222.33 955.167 1129.1 559.8 1089.5 445C1040 301.5 1223.5 1143.5 1049 1170C909.4 1191.2 883.5 695.5 888 445C886.5 174.833 973 -252.7 1331 198.5C1778.5 762.5 946.5 790 454 803C-38.5 816 -181 305.5 288.5 265.5C758 225.5 1970.5 32.5 1953 552C1939 967.6 1487.83 1116.17 1264 1138.5Z");
    animation: move 20s linear infinite;
    background-color: #fff;
    box-shadow:
        0 0 60px 15px #fff,
        0 0 40px 10px rgb(255, 0, 255),
        0 0 60px 10px rgb(255, 129, 224);
}
@keyframes move {
    100% {
        offset-distance: 100%;
    }
}