html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 110px;
    background-color:rgb(114, 216, 174);
    box-shadow: 0px 7px 10px 0 rgba(0, 0, 0, 0.253);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a:not(.psw a, .dropdown-content a) {
    text-decoration: none; 
    color: black;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

a:hover:not(.logo-container a) {
    background-size: 100% 2px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container img {
    width: 240px;
    height: 110px;
    margin-top: 11px
}

header ul:not(.log-bar){
    width: 80%;
    display: flex;
    justify-content: flex-start;
    margin-top: 45px;
}

header ul li {
    list-style: none;
    font-size: 20px;
    text-align: center;
    margin-left: 20px;
}

.dropbtn {
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 20px;
    color: black;
    font-size: 20px;
    text-align: center;
    
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.dropbtn:hover {
    background-size: 100% 2px;
}

.dropdown {
    position: relative;
    top: -1px;
    left: 42px;
    display: inline-block;
    transition: all 0.2s;
}

#user-panel {
    padding-right: 150px;
}

#model-panel {
    top: -2px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    margin-left: 25px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transform: translateY(-80%);
    transition: all 0.2s;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
    transform: translateY(0%);
}

.log-bar {
    position: absolute;
    right: 50px;
    top: 25px;
}

#logOut {
    display: none;
}

#info {
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 110px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
}

main {
    width: 85%;
    margin: 0 auto;
}

footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    /* background-color: rgb(216, 167, 114); */
    background-color:rgb(114, 216, 174);
}


/* login */


.login-container {
    width: 40%;
    margin: 0px auto;
    margin-top: 135px;
    border: 3px solid #000000;
    background-color: rgba(198, 255, 198, 0.74);
    transition: ease all 0.3s;
}

.login-container:hover {
    box-shadow: 1px 8px 10px 0 lightgray;
}

label {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
  
.container #username, .container #password {
    width: 70%;
    padding: 12px 20px;
    margin: 8px auto;
    display: flex;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 20px;
}

.container #login {
    width: 70%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 24px;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    transition: all 0.4s;
}

.container #login:hover {
    background-color: rgb(30, 165, 255);
    transform: scale(1.05);
    transition: all 0.2s;
}

.container #registration {
    width: 68%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 24px;
    background-color: #cccccc;
    padding: 14px 20px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: all 0.4s;
}

.container #registration:hover {
    transform: scale(1.05);
    background-color: rgb(223, 223, 223);
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

.remember {
    display: flex;
    justify-content: flex-end;
}

input[type=checkbox] {
    margin-top: 7px;
    margin-right: 7px;
    transform: scale(1.4);
}


/* registration */


.registration-container {
    width: 45%;
    margin: 0px auto;
    margin-top: 125px;
    padding: 20px;
    border: 3px solid #f1f1f1;
    transition: ease all .3s;
}

.registration-container:hover {
    box-shadow: 0 0 60px 6px lightgray;
}

.registration-heading {
    height: 100px;
    margin-bottom: 15px;
    border-radius: 10px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background: rgb(176, 142, 255);
    background: radial-gradient(circle, rgb(61, 158, 255) 55%, rgb(255, 254, 171) 100%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease all .3s;
}

.registration-container:hover > .registration-heading {
    box-shadow: 0 0 20px 5px rgb(184, 184, 184);
}

.registration-heading h2 {
    color: rgb(179, 255, 0);
    text-shadow:
        -1px -1px 1px white,  
        1px -1px 1px white,
        -1px 1px 1px black,
        1px 1px 1px black;
    position: relative;
    font-family: "Avenir Next", sans-serif;
    font-weight: 900;
    font-size: 44px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.05em;
    display: flex;
    justify-content: center;
}

.registration-heading h2:before {
    position: absolute;
    left: 0;
    top: 0;
    content: attr(filter-content);
    filter: url(#motion-blur-filter);
}

.registration-heading svg {
    display: none;
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.input-container .input-field {
    width: 85.1%;
    margin: 0px auto;
    padding: 15px;
    margin-left: 22px;
    outline: none;
}

.input-container .input-field {
    font-size: 20px;
}

.input-field:focus {
    border: 2px solid rgb(72, 163, 255);
}

#register {
    width: 98%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    transition: ease all .3s;
}

#register:hover {
    opacity: 1;
    transform: scale(1.02);
    box-shadow: 0px 0px 30px 3px rgb(95, 175, 255);
    font-size: 24px;
}

.input-container .input-img {
    width: 45px;
    height: 45px;
    margin-top: 2px;
    padding: 3px;
    box-shadow: 0px 0px 10px 3px lightgray;
}


/* shoe form */


.shoe-add-container {
    width: 50%;
    margin: 180px auto;
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;
    padding: 30px 55px 37px 55px;
    background: #9152f8;
    background: -webkit-linear-gradient(top, #7579ff, #b224ef);
    background: -o-linear-gradient(top, #7579ff, #b224ef);
    background: -moz-linear-gradient(top, #7579ff, #b224ef);
    background: linear-gradient(top, #7579ff, #b224ef);
}

.mid-content {
    width: 100%;
    padding: 0;
}

.container-title {
    padding-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: medium;
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    display: block;
}

.validate-input {
    position: relative;
}

.input100::placeholder {
    color: rgb(255, 255, 255);
}

.input100 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px 0 15px;
    border-bottom: 2px solid rgba(255,255,255,0.24);
    margin-bottom: 30px;
}

input {
    outline: none;
    border: none;
    transition: ease all .2s;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.login100-form-btn:hover {
    color: #fff;
}

button:hover {
    cursor: pointer;
}

.login100-form-btn {
    width: 40%;
    height: 50px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    letter-spacing: 5px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    border-radius: 25px;
    background: rgb(45,194,253);
    background: linear-gradient(180deg, rgba(45,194,253,1) 0%, rgb(63, 131, 255) 100%);
    box-shadow: 0 0 10px 2px cyan;
    position: relative;
    z-index: 1;
    transition: all 0.4s;
}

.login100-form-btn:hover {
    box-shadow: 0 0 30px 10px cyan;
}

button {
    outline: none;
    border: none;
    background: transparent;
}


/* edit model */


.shoe-edit-container {
    width: 50%;
    margin: 0 auto;
    margin-top: 135px;
    padding: 15px 55px 37px 55px;
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;
    background: #9152f8;
    background: -webkit-linear-gradient(top, #7579ff, #b224ef);
    background: -o-linear-gradient(top, #7579ff, #b224ef);
    background: -moz-linear-gradient(top, #7579ff, #b224ef);
    background: linear-gradient(top, #7579ff, #b224ef);
}

.model-edit-title {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    /* margin-bottom: 25px; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.mid-content label {
    font-family: 'Poppins', sans-serif;
    font-weight: medium;
    font-style: italic;
    font-size: 30px;
    color: white;
}

.mid-content select {
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    margin-bottom: 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: bold;
    border: 1px solid white;
    letter-spacing: 2px;
    background: rgb(75,198,255);
    background: linear-gradient(180deg, rgb(218, 163, 255) 0%, rgba(105, 208, 255, 0.699) 100%, rgb(200, 118, 255) 0%);
}

.mid-content select option {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: 17px;
    text-align: center;
    background-color: rgb(231, 190, 240);
}


/* user edit */

.user-edit-container {
    width: 50%;
    margin: 0 auto;
    margin-top: 115px;
    padding: 15px 55px 37px 55px;
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;
    background: #9152f8;
    background: -webkit-linear-gradient(top, #7579ff, #b224ef);
    background: -o-linear-gradient(top, #7579ff, #b224ef);
    background: -moz-linear-gradient(top, #7579ff, #b224ef);
    background: linear-gradient(top, #7579ff, #b224ef);
}

.user-edit-title {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.myself-edit-title {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    margin: 65px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.myself-edit-container {
    width: 50%;
    margin: 0 auto;
    margin-top: 155px;
    padding: 15px 55px 37px 55px;
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;
    background: #9152f8;
    background: -webkit-linear-gradient(top, #7579ff, #b224ef);
    background: -o-linear-gradient(top, #7579ff, #b224ef);
    background: -moz-linear-gradient(top, #7579ff, #b224ef);
    background: linear-gradient(top, #7579ff, #b224ef);
}

/* purchase */


.purchase-container {
    width: 50%;
    height: 300px;
    margin: 0 auto;
    margin-top: 235px;
    padding: 15px 55px 37px 55px;
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;
    background: #9152f8;
    background: -webkit-linear-gradient(top, #7579ff, #b224ef);
    background: -o-linear-gradient(top, #7579ff, #b224ef);
    background: -moz-linear-gradient(top, #7579ff, #b224ef);
    background: linear-gradient(top, #7579ff, #b224ef);
}

.purchase-title {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.purchase-container .mid-content .container-login100-form-btn {
    margin-top: 25px;
}

.purchase-container .mid-content label {
    margin-bottom: 20px
}


/* admin panel */


.role-container {
    width: 50%;
    height: 360px;
    margin: 0 auto;
    margin-top: 235px;
    padding: 15px 55px 37px 55px;
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;
    background: #9152f8;
    background: -webkit-linear-gradient(top, #7579ff, #b224ef);
    background: -o-linear-gradient(top, #7579ff, #b224ef);
    background: -moz-linear-gradient(top, #7579ff, #b224ef);
    background: linear-gradient(top, #7579ff, #b224ef);
}

.role-title {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#list-roles {
    margin: 30px auto;
}



/* gain */


.gain-container {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 15px 55px 25px 55px;
    border: 1px solid lightgray;
    background-color: rgba(129, 129, 129, 0.205);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 140px;
    transition: ease all 0.3s;
}

#allGainBtn {
    width: 45%;
    font-family: 'Molot' sans-serif;
    font-size: 26px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 20px;
    height: 40px;
    background-color: rgb(255, 218, 170);
    padding: 25px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.13s;
}

#allGainBtn:hover {
    transform: scale(1.05);
    border-radius: 15px;
    border: none;
    background-color: rgb(123, 246, 255);
    box-shadow: 0 0 30px 1px rgba(102, 102, 102, 0.685);
}

#collapseExample {
    position: absolute;
    left: 45%;
    right: 45%;
    top: 250px;
    opacity: 0;
    transform: translateX(-100%);
    transition: ease all 2s;
    transition-timing-function: cubic-bezier(1,-0.11,.08,2);
}

#allGainTxt {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

#gainForAMonth {
    text-align: center;
    font-size: 20px;
}

.gain-container h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 40px;
    transition: ease all 1s;
    transition-timing-function: cubic-bezier(1,-0.11,.08,2);
}

.allGainContainers {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gainForNovember {
    margin-bottom: 50px;
}

#gainForFebruary {
    margin-bottom: 50px;
}

.list-group-item-warning {
    background-color: rgb(255, 207, 161);
    transition: ease all 0.2s;
}
.list-group-item-info {
    background-color: rgb(167, 255, 182);
    transition: ease all 0.2s;
}
.list-group-item-primary {
    background-color: rgb(163, 206, 255);
    transition: ease all 0.2s;
}
.list-group-item-danger {
    background-color: rgb(255, 161, 161);
    transition: ease all 0.2s;
}

.list-group-item-warning:hover {
    background-color: rgb(255, 123, 0);
    color: white;
}
.list-group-item-info:hover {
    background-color: rgb(1, 158, 27);
    color: white;
}
.list-group-item-primary:hover {
    background-color: rgb(0, 119, 255);
    color: white;
}
.list-group-item-danger:hover {
    background-color: rgb(255, 0, 0);
    color: white;
}

.list-group-item {
    width: 90%;
    height: 20px;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
    opacity: 0.9;
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: ease all 0.2s;
}

.list-group-item:hover {
    transform: scale(1.02);
    opacity: 1;
    border: 1px solid rgba(0, 0, 0, 0.342);
    font-size: 20px;
    font-weight: bold;
}